.intro-baires{
    background-color: $white !important;
    height: 86.3vh;
}

.baires-intro-title{
    font-family: "Title";
    font-size: 45px;
    line-height: 80px;
    padding-top: 100px;
    padding-left: 50px;
    color: $black;
}

.title-martin-baires{
    font-size: 90px;
    letter-spacing: 2px;
    color: $baires;
    font-family: "Brand";
}

.baires-intro-p{
    color: $black;
}

.intro-munich{
    background-color: $black !important;
    height: 86.3vh;
}

.munich-intro-title{
    font-family: "Title";
    font-size: 45px;
    line-height: 80px;
    padding-top: 100px;
    padding-left: 50px;
    color: $white;
}

.title-martin-munich{
    font-size: 90px;
    letter-spacing: 2px;
    color: $munich;
    font-family: "Brand";
}

.munich-intro-p{
    color: $white;
}

// MOBILE

@media only screen and (max-width: 767px){

    // BAIRES STYLES

    .baires-intro-title{
        font-size: 40px;
        line-height: 60px;
    }

    .title-martin-baires{
        font-size: 50px;
    }

    .baires-intro-p{
        padding: 0 25px;
    }

    // MUNICH STYLES

    .munich-intro-title{
        font-size: 40px;
        line-height: 60px;
    }

    .title-martin-munich{
        font-size: 50px;
    }

    .munich-intro-p{
        padding: 0 25px;
    }
}