.one-bg{
    background-image: url('../../Images/one-to-one.png');
    background-size: cover;
}

.lpm-bg{
    background-image: url('../../Images/manchego.png');
    background-size: cover;
}

.afec-bg{
    background-image: url('../../Images/afec.png');
    background-size: cover;
}

.ds-bg{
    background-image: url('../../Images/ds.png');
    background-size: cover;
}

// BAIRES STYLES

.baires-projects-subtitle{
    color: $baires;
    font-family: "Brand";
    font-size: 15px !important;
    padding: 100px 50px 0 50px;
}

.baires-projects-p{
    font-family: "Roboto Bold" !important;
    padding: 0px 350px 50px 50px;
    color: $black-veil;
    font-size: 18px;
}

.projects-baires{
    background-color: $white;
    padding-bottom: 100px
}

.baires-card-veil{
    background-color: $baires-veil !important;
    margin: -1px -13px;
    border: solid $white 3px;
    border-radius: 5px;
    height: 24rem;
    width: 15rem;
    cursor: pointer;
}

.baires-web-icon{
    color: rgba(255, 255, 255, 0.84);
    font-size: 80px !important;
}

.baires-web-icon:hover{
    color: $white;
}

.baires-github-icon{
    color: #f3f3f3d2;
    font-size: 60px !important;
}

.baires-github-icon:hover{
    color: $white;
}

.baires-card-veil2{
    background-color: $baires-veil !important;
    margin: -12px !important;
    padding: 0px 15px 60px 15px !important;
    border-radius: 2px;
}

.baires-card-title{
    margin-top: 40px;
    padding-top: 15px;
    font-family: 'Brand';
    font-size: 22px;
    color: $white;
}

.baires-card-subtitle{
    font-family: 'Roboto Black';
    font-size: 14px;
    color: $black;
    margin: 15px 0;
}

.baires-card-text{
    color: $black;
    font-size: 12px;
}

// MUNICH STYLES

.projects-munich{
    background-color: $black;
    padding-bottom: 100px
}

.munich-projects-title{
    font-family: "Title";
    padding: 0px 50px;
    color: $munich;
}

.munich-projects-p{
    font-family: "Roboto Bold" !important;
    padding: 0px 350px 50px 50px;
    color: $white-veil;
    font-size: 18px;
}

.munich-card-veil{
    background-color: rgba(0, 0, 0, 0.884) !important;
    margin: -1px -13px;
    border: solid $black 3px;
    border-radius: 5px;
    height: 24rem;
    width: 15rem;
    cursor: pointer;
}

.munich-web-icon{
    color: $munich-veil;
    font-size: 80px !important;
}

.munich-web-icon:hover{
    color: $munich;
}

.munich-github-icon{
    color: $munich-veil;
    font-size: 60px !important;
}

.munich-github-icon:hover{
    color: $munich;
}

.munich-card-veil2{
    background-color: rgba(0, 0, 0, 0.377) !important;
    margin: -12px !important;
    padding: 0px 15px 60px 15px !important;
    border-radius: 2px;
}

.munich-card-title{
    margin-top: 40px;
    padding-top: 15px;
    font-family: 'Brand';
    font-size: 22px;
    color: $munich;
}

.munich-card-subtitle{
    font-family: 'Roboto Black';
    font-size: 14px;
    color: $white;
    margin: 15px 0;
}

.munich-card-text{
    color: $white;
    font-size: 12px;
}