// COMMON STYLES

.skills-slider-img{
    height: 180px;
    margin: 100px 0 200px 0;
}

// BAIRES STYLES

.skills-baires{
    background-image: url('../../Images/baires.jpg') !important;
    background-size: cover;
}

.baires-veil{
    background-color: $baires-veil;
}

.baires-skills-subtitle{
    font-family: "Brand";
    font-size: 15px !important;
    padding: 100px 50px 0 50px;
    color: $white;
}

.baires-skills-title{
    font-family: "Title";
    padding: 0px 50px 0 50px;
}

// MUNICH STYLES

.skills-munich{
    background-image: url('../../Images/munich.jpg') !important;
    background-size: cover;
}

.munich-veil{
    background-color: $munich-veil;
}

.munich-skills-subtitle{
    font-family: "Brand";
    font-size: 15px !important;
    padding: 50px 50px 0 50px;
    color: $white;
}

.munich-skills-title{
    font-family: "Title";
    padding: 0px 50px;
}

// MOBILE STYLES

@media only screen and (max-width: 767px){

    .skills-slider-img{
        height: 150px;
    }

    // BAIRES STYLES

    .baires-skills-subtitle{
        font-size: 12px !important;
        padding: 100px 25px 0 25px;
    }
    
    .baires-skills-title{
        padding: 0px 25px 0 25px;
    }

    // MUNICH STYLES

    .munich-skills-subtitle{
        font-size: 12px !important;
        padding: 100px 25px 0 25px;
    }
    
    .munich-skills-title{
        padding: 0px 25px 0 25px;
    }

  }