.works-title{
    font-family: 'Roboto Black';
    font-size: 22px;
    color: $black;
}

.works-date{
    font-family: 'Roboto Bold';
    font-size: 16px;
    position: relative;
    right: 138px;
    top: 40px;
    text-align: left !important;
}

.works-company{
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.works-p{
    font-size: 16px;
    padding-right: 50px;
}


// BAIRES STYLES
.works-baires{
    background-color: $baires !important;
    background-size: cover !important;
}

ul.timeline-baires {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-baires:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-baires > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-baires > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $baires-veil;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

.SVGbaires{
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
  position: relative;
  top: 5px;
}


// MUNICH STYLES
.works-munich{
    background-color: $munich !important;
    background-size: cover !important;
}

ul.timeline-munich {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-munich:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-munich > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-munich > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $munich-veil;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

.SVGmuenchen{
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
  position: relative;
  top: 5px !important;
}

// MOBILE STYLES

@media only screen and (max-width: 767px){

.works-title{
    font-size: 20px;
}

.works-date{
    font-size: 8px !important;
    position: relative;
    right: 50px;
    top: 35px;
    text-align: left !important;
}

.works-company{
    font-size: 16px;
}

.works-p{
    font-size: 14px;
    padding-right: 0px;
}

  // BAIRES STYLES

  ul.timeline-baires:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 45px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-baires > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-baires > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $baires-veil;
    left: 35px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  .SVGbaires{
    height: 100px !important;
    max-width: 350px !important;
    margin-bottom: -6px;
  }

  // MUNICH STYLES
  
  ul.timeline-munich:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 45px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-munich > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-munich > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $munich-veil;
    left: 35px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  .SVGmuenchen{
    height: 100px;
    width: 350px;
    margin-bottom: -6px;
  }
}

// TABLET STYLES

@media only screen and (min-width: 768px) and (max-width: 1140px){

  .SVGbaires{
    height: 200px !important;
    max-width: 768px !important;
  }

  .SVGmuenchen{
    height: 150px;
    max-width: 768px !important;
  }

}