$baires: #5f91d7;
$baires-dark: #4072b8;
$baires-veil: #5f91d79f;
$baires-green: #4a7d55;
$white-veil: rgba(196, 196, 196, 0.767);

$munich: #f5d033;
$munich-veil: #f5d0339f;
$black-veil: #303030d3;

$white: #fff;
$black: #101010;