$baires: #5f91d7;
$baires-dark: #4072b8;
$baires-veil: #5f91d79f;
$baires-green: #4a7d55;
$white-veil: #cacacab6;

$munich: #f5d033;
$munich-dark: #b19727;
$munich-veil: #f5d0339f;
$black-veil: #303030d3;

$white: #f0f0f0;
$black: #101010;