@import './base/colors';
@import './base/fonts';
@import './components/navbar';
@import './components/intro';
@import './components/skills';
@import './components/projects';
@import './components/work';
@import './components/contact';
@import './components/email-sent';

body{
    background-color: $black !important;
}

p{
    font-family: 'Roboto Regular' !important;
}

@media only screen and (max-width: 767px){
    p{
        font-size: 12px;
    }
}